* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
.row_posters img {
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
}
/*above was being finicky till i added img to the end */ 

.row_posters {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    display: flex;
}
.row_posters img:hover {
    transform: scale(1.08);
}
/*whole row would scale up unless i specify image */
.row_posters::-webkit-scrollbar {
    display:none;
}
.row_posters .large_poster {
    max-height: 250px;
}
.row {
    color:white;
    margin-left: 20px;
}